<div class="container main-container">
  <div class="row">
    <div class="col-lg-12 col-md-3 col-sm-12">
      <%= devise_error_messages! %>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-6">
          <div class="no-padding">
            <span class="title">Minha Conta</span>
          </div>
          <div class="list-group list-categ">
            <a href="" class="list-group-item">Editar conta</a>
            <a href="" class="list-group-item">Cancelar Conta</a>
            <%=link_to('Meus Pedidos', purchase_orders_path, :class=> "list-group-item")%>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm"></div>

      <!-- Cart -->
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="col-lg-12 col-sm-12">
          <span class="title">CANCELAR CONTA</span>
        </div>

    <!-- End Cart -->
  </div>
</div>
