
<div class="container main-container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">Minha Conta</span>
        </div>
        <div class="list-group list-categ">
          <a href="catalogue.html" class="list-group-item">Últimos Pedidos</a>
          <a href="catalogue.html" class="list-group-item">Pedidos em Aberto</a>
          <a href="catalogue.html" class="list-group-item">Pedidos entregues</a>
          <a href="catalogue.html" class="list-group-item">Todos Pedidos</a>
        </div>
      </div>

    </div>

    <div class="clearfix visible-sm"></div>

    <!-- Cart -->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">Meus Pedidos</span>
      </div>
      <div class="col-lg-12 col-sm-12 hero-feature">
        <table class="table table-bordered tbl-cart">
          <thead>
            <tr>
              <td class="hidden-xs">Número do Pedido</td>
              <td>Data do Pedido</td>
              <td>Valor</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <% @purchase_orders.each do |purchase|%>
            <tr>
              <td>
                <%= purchase.id %>
              </td>
              <td>
                <%=  purchase.created_at.strftime("%d %B %y") %>
              </td>
              <td>
                R$ <%= purchase.total_price %>
              </td>
              <td>
              <%= link_to 'Visualizar', purchase_order_path(purchase) %>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Cart -->
  </div>
</div>
