.container.main-container
  .row
    .col-lg-3.col-md-3.col-sm-12
      /! Best Seller
      .col-lg-12.col-md-12.col-sm-12.visible-lg.visible-md
        .no-padding
          span.title Mais Vendidos
        - @best_sellers.each do |best_seller|
          .thumbnail.text-center
            = link_to( image_tag(best_seller.images.first.asset.url), product_path(best_seller), :class=>"work")
            .caption.prod-caption
              h4
                a href="/details" = best_seller.name
              p= best_seller.description
              p
              .btn-group
                a.btn.btn-default href="#"
                  | #{number_to_currency(best_seller.price)}
                a.btn.btn-primary href="#"
                  i.fa.fa-shopping-cart
                  | Comprar
        - @best_sellers.each do |best_seller|
          .thumbnail.text-center
            = link_to( image_tag(best_seller.images.first.asset.url), product_path(best_seller), :class=>"work")
            .caption.prod-caption
              h4
                a href="/details" = best_seller.name
              p= best_seller.description
              p
              .btn-group
                a.btn.btn-default href="#"
                  | #{number_to_currency(best_seller.price)}
                a.btn.btn-primary href="#"
                  i.fa.fa-shopping-cart
                  | Comprar
      /! End Best Seller
    .clearfix.visible-sm
    = simple_form_for  @purchase_order_items do |f|
      = f.simple_fields_for @product do |p|
        = p.hidden_field :id
        /! Product Detail
        .col-lg-9.col-md-9.col-sm-12
          .col-lg-12.col-sm-12
            span.title= @product.name
          .col-lg-12.col-sm-12.hero-feature
            .sp-wrap
              - @product.images.each do |image|
                = link_to image_tag(image.asset.url(:medium)), image_url(image.asset.url(:original))
            h4= p.object.name
            hr/
            .description-product
              = @product.description
            hr/
            h3
              | #{number_to_currency(@product.price)}
            .input-qty-detail
              = f.input :amount, label: false, input_html: {class:'input-qty form-control text-center', value: f.object.amount || '1'}
              = f.button :submit, 'Adicionar no Carrinho', :class => "btn btn-primary"
            br/
            hr/
          .clearfix
          .col-lg-12.col-sm-12
            span.title Produtos Relacionados
          - @products.each do |products|
            .col-lg-4.col-sm-4.hero-feature.text-center
              .thumbnail
                = link_to( image_tag(products.images.first.asset.url), product_path(products), :class=>"work")
                .caption.prod-caption
                  h4
                    a href="detail.html"
                      = products.name
                  p= products.description
                  p
                  .btn-group
                    a.btn.btn-default href="#" = number_to_currency(products.price)
                    a.btn.btn-primary href="#"
                      i.fa.fa-shopping-cart
                      | Comprar
        /! End Product Detail
